<div id="<%= dom_id school %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= school.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Short name:</strong>
    <%= school.short_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= school.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= school.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= school.state %>
  </p>

</div>
